body {
    margin: 0; 
    padding: 0; 
}

.content-p {
    color: #FF0040; 
    background-color: #C0FFFF; 
}

.header {
    height: 60px; 
    width: auto; 
    background-color: #606060; 
}

.left {
    float: left; /* 设置左浮动 */
    width: 50%; 
    height: 700px; 
    background-color: #CCCCFF; 
}

.content-left-inner {
    width: 50%; 
    height: 400px; 
    background-color: #FF8000; 
    margin-left: 100px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); 
    text-align: center; 
}

.content-left-inner-h1 {
    text-shadow: 4px 4px 3px gray; 
}

.font-custom-1 {
    margin: 10px; 
    font-size: 18px; 
    /*font-weight: bold; !* 设置字体加粗 *!*/
    /*font-style: italic; !* 设置字体斜体 *!*/
    font-family: "Monaco", Microsoft YaHei, serif; /* 设置字体 第一个参数是优先使用的字体，第二个参数是备用字体, 第三个参数是通用字体, 可选的参数有 serif: 衬线字体, sans-serif: 无衬线字体, monospace: 等宽字体 */
    line-height: 20px; /* 设置行高 */
    text-decoration: underline; 
    text-align: justify; 
}

.font-custom-2 {
    font-size: 50px; 
    font-weight: bold; 
    font-family: "BiauKaiTC", Microsoft YaHei, serif; /* 设置字体 第一个参数是优先使用的字体，第二个参数是备用字体, 第三个参数是通用字体, 可选的参数有 serif: 衬线字体, sans-serif: 无衬线字体, monospace: 等宽字体 */
    text-align: center; 
}
.right {
    float: right; /* 设置右浮动 */
    width: 50%; /* 设置宽度 */
    height: 700px; /* 设置高度 */
    background-color: #00FFFF; /* 设置背景颜色 */
    background-image: url("../html/img.jpg"); /* 设置背景图片 */
    background-repeat: no-repeat; /* 设置背景图片不重复 */
    /*background-size: cover; !* 拉伸覆盖 *!*/
    background-position: center; /* 居中显示 */
    border-bottom: 2px solid #FF9966; /* 设置下边框 solid 实线 */
    border-top: 2px dashed #FF9966; /* 设置上边框 dashed 虚线 */
    border-radius: 20px; /* 设置圆角 */
}

/*margin-left + margin-right + border-left + border-right + padding-left + padding-right + width = width of parent element */

.content {
    width: auto; 
    height: 1000px; 
    background-color: #808080; 
    margin: 10px; 
    padding: 10px;
    border: 10px solid #CCFFFF; 
}

.footer {
    background-color: #606060; 
    height: 500px; 
    width: auto; 
    margin: 10px; 
}

.header {
    display: flex; /* 设置弹性盒子 */
    position: sticky;
    top: 0;
    box-shadow: 5px 5px 5px gray; 
}

.home {
    flex: 3; /* 设置弹性盒子的比例 */
    text-align: center;
    margin-top: 20px; 
}

.link {
    flex: 6; /* 设置弹性盒子的比例 */
    text-align: center;
    margin-top: 20px; 
}

.account {
    flex: 3; /* 设置弹性盒子的比例 */
    text-align: center;
    margin-top: 20px; 
}

a {
    text-decoration-line: none; 
}

.footer-inner-left {
    width: 200px;
    height: 200px;
    background-color: #FF8000;
    text-align: center;

    position: relative; /* 设置相对定位 */
    top: 10px; 
    left: 10px; 
}

.footer-inner-right {
    width: 200px;
    height: 200px;
    background-color: #FF8000;

    position: absolute; /* 设置绝对定位, 相对于最近的已定位的父元素, 如果没有已定位的父元素, 则相对于 html 元素 */
    top: 1137px; /* 设置上边距 */
    /*right: 20px; !* 设置右边距 *!*/
    left: 230px; /* 设置左边距 */
}

.footer-inner-contact {
    text-align: center; 
    width: 200px;
    height: 50px;
    background-color: #FF8000;

    display: flex; /* 设置弹性盒子 */
    align-items: center; /* 设置垂直居中 */

    position: fixed; /* 设置固定定位, 相对于浏览器窗口 */
    bottom: 10px; /* 设置下边距 */
    right: 10px; /* 设置右边距 */
}

.footer-inner-contact a {
    margin-left: 65px;
    text-decoration-line: none; /* 设置无下划线 */
}

.footer-inner-bottom {
    margin-top: 100px;
}

.footer-inner-bottom-btn1 {
    width: auto;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;

    background-color: #FF3333;
    transition: background-color 2s ease; /* 设置过渡效果 第一个参数是属性, 第二个参数是时间, 第三个参数是速度曲线 */
}

.footer-inner-bottom-btn1:hover {
    background-color: #40FF40;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(100px);
    }
    50% {
        transform: translateY(50px);
    }
    75% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateX(500px);
    }
}

.footer-inner-bottom-btn2 {
    width: auto;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    background-color: #FF3333;

    animation: move 5s infinite; /* 设置动画 第一个参数是动画名称, 第二个参数是时间, 第三个参数是次数 */
}

@media (max-width: 1080px) {
    .right {
        display: none; /* 设置不显示 */
    }

    .left {
        width: 100%; 
    }
}

@media (min-width: 800px) and (max-width: 1080px) {
    .left {
        background-color: lightblue;
    }
}

/* 伪元素 */
/*用于在元素内容前后插入内容*/
.footer-inner-left > p::before {
    content: '🎉'; /* 设置内容 */
}

.footer-inner-left > p::after {
    content: '🎉'; /* 设置内容 */
}

/*::first-letter 用于向文本的第一个字母设置特殊样式*/
.footer-inner-left > p::first-letter {
    font-size: 50px; 
    color: #FF3333; 
}

.font-custom-1::first-line {
    font-size: 30px; 
    color: #40FFFF; 
}

/* 图片自适应 */
img {
    max-width: 100%; 
    height: auto;
}